# Exercises: Working with Databases in Python

For the exercises, we will be practicing the steps outlined in this [article](https://towardsdatascience.com/do-you-know-python-has-a-built-in-database-d553989c87bd). You can skip the portion where the author downloads a separate SQL client to examine the database.

## Import Libraries

We will need `pandas` and `sqlite3`. SQLite is a small, self-contained database engine that comes with Python so you will not have to do any additional installations for this lesson. If you want to connect to a different database engine, such as SQL server, you may need additional libraries such as `sqlalchemy` or `pyodbc` and a tool called a driver which helps to connect a database to an application.

In [1]:
# Import sqlite3 and pandas.
import sqlite3 as sql
import pandas as pd

## Create a Database

In the article, the author shows how to use `sqlite3` to open a connection to an existing database or create a new one. Use this method to make a new database called `exercises.db`.

In [2]:
# Create a new database called exercises.db.
con = sql.connect('exercises.db')

## Create a Table

Follow the steps in the article to create a table called `favorite_books.db`. This table should include columns for the title, author, and a short description of why it is a favorite.

In [12]:
# Create a new table in your database.
with con:
    con.execute('''
        CREATE TABLE favorite_books.db (
            title TEXT PRIMARY KEY,
            author TEXT,
            description TEXT
    );
''')
    
print(con)

OperationalError: unknown database favorite_books

## Insert Records

Add 3 entries to your table for your top 3 favorite books.

In [15]:
# Add your 3 favorite books to your table.
sql = 'INSERT INTO favorite_books.db (title, author, description) values(?, ?, ?)'
data = [
    (The Night Circus, Erin Morgenstern, 'The circus arrives without warning. No announcements precede it. It is simply there, when yesterday it was not. Within the black-and-white striped canvas tents is an utterly unique experience full of breathtaking amazements. It is called Le Cirque des Rêves, and it is only open at night.But behind the scenes, a fierce competition is underway: a duel between two young magicians, Celia and Marco, who have been trained since childhood expressly for this purpose by their mercurial instructors. Unbeknownst to them both, this is a game in which only one can be left standing. Despite the high stakes, Celia and Marco soon tumble headfirst into love, setting off a domino effect of dangerous consequences, and leaving the lives of everyone, from the performers to the patrons, hanging in the balance.')
    (Throne of Glass, Sarah J Maas, 'Meet Celaena Sardothien. Beautiful. Deadly. Destined for greatness. In the dark, filthy salt mines of Endovier, an 18-year-old girl is serving a life sentence. She is a trained assassin, the best of her kind, but she made a fatal mistake. She got caught. Young Captain Westfall offers her a deal: her freedom in return for one huge sacrifice. Celaena must represent the prince in a to-the-death tournament - fighting the most gifted thieves and assassins in the land. Live or die, Celaena will be free. Win or lose, she is about to discover her true destiny. But will her assassins heart be melted?' )
    (A Court of Mist and Fury, Sarah J Maas, 'Feyre survived Amaranthas clutches to return to the Spring Court - but at a steep cost. Though she now possesses the powers of the High Fae, her heart remains human, and it cant forget the terrible deeds she performed to save Tamlins people. Nor has Feyre forgotten her bargain with Rhysand, the mesmerising High Lord of the feared Night Court. As Feyre navigates his dark web of political games and tantalising promises, a greater evil looms - and she might be key to stopping it.But only if she can step into her growing power, heal her fractured soul and have the courage to shape her own future - and the future of a world cloven in two..' ) 
]
     
with con:
     con.executemany(sql, data)

SyntaxError: invalid syntax (1588793639.py, line 4)

## Query Your Table

Write a `SELECT` query to output the 3 records in your table.

In [18]:
# Write your SELECT query here.
with con:
    data = con.execute('SELECT * FROM favorite_books.db WHERE title = The Night Circus')
    for row in data:
        print(row)

OperationalError: near "Night": syntax error

## Create a New Table with Pandas

Create a new table called `favorite_movies` with your top 3 favorite movies. Each movie should have an id and a title. This time, use Pandas to first make a dataframe and then write the dataframe to SQL. Write a `SELECT` query to confirm that the new table does have your top 3 favorite movies.

In [24]:
# Use Pandas to make a new table in your database.
favorite_movies = pd.DataFrame({
    'id': [1,2,3],
    'title': ['Big Fish', 'Christopher Robin', 'Beetlejuice']
})

favorite_movies.to_sql('title', con)

df = pd.read_sql('''
    SELECT s.id, u.title
    FROM USER u LEFT JOIN SKILL s ON u.id = s.id
''', con)

df.to_sql('id', con)

ValueError: Table 'title' already exists.